@charset "utf-8";
/* CSS Document */
.container {
  position: relative;
  width:100%
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 1s ease;
  background-color: #00224b;
}

.container:hover .overlay {
  opacity: 0.9;
}

.overlaytext td{
  color: white;
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
  text-align:center;
}